In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Built-up Area,Ready To Move,ambiwala,1 RK,NaN,351,1.0,1.0,16.00
1,Super built-up Area,Ready To Move,Prem nagar,1 RK,Krntsee,527,1.0,0.0,35.00
2,Super built-up Area,Ready To Move,Basavangudi,1 RK,NaN,670,1.0,1.0,50.00
3,Super built-up Area,19-Dec,Bhoganhalli,1 RK,Rosha I,296,1.0,0.0,22.89
4,Super built-up Area,Ready To Move,subash nagarana Halli,2 BHK,NaN,1100,2.0,1.0,70.00

In [4]:
data.shape

(13320, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Jun               1
16-Nov               1
14-Jul               1
16-Oct               1
15-Aug               1
Name: count, Length: 81, dtype: int64
********************
location
sahstradhara road    540
Sarjapur  Road       399
Electronic City      302
Kanakpura Road       273
Thanisandra          234
                    ...
K R C kothanur         1
kadubisnahalli         1
Kalasipalya            1
Kalhalli               1
Zuzuvadi               1
Name: count, Length: 1299, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
18 Bedroom       1
13 BHK           1
27 BHK           1
19 BHK           1
14 BHK           1
16 BHK           1
43 Bedroom       1
12 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Aples M     1
Fleepi      1
VDenaWa     1
Eline P     1
ARncy R     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200               843
1100               221
1500               205
2400               196
600                180
                  ...
1525.84              1
615 - 985            1
142.84Sq. Meter      1
3033                 1
1383                 1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
11.0       3
13.0       3
16.0       2
18.0       1
27.0       1
15.0       1
14.0       1
40.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
94.42      1
34.72      1
50.74      1
89.56      1
54.67      1
Name: count, Length: 1994, dtype: int64
********************

In [7]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
data['location'].value_counts()

location
sahstradhara road    540
Sarjapur  Road       399
Electronic City      302
Kanakpura Road       273
Thanisandra          234
                    ...
K R C kothanur         1
kadubisnahalli         1
Kalasipalya            1
Kalhalli               1
Zuzuvadi               1
Name: count, Length: 1299, dtype: int64

In [12]:
data['location']=data['location'].fillna('ghantaghar')

In [13]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
18 Bedroom       1
13 BHK           1
27 BHK           1
19 BHK           1
14 BHK           1
16 BHK           1
43 Bedroom       1
12 Bedroom       1
Name: count, dtype: int64

In [14]:
data['size']=data['size'].fillna('2 BHK')

In [15]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [18]:
data[data.bhk>20]

                       location        size total_sqft  bath  price  bhk
120   2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
8607                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [19]:
data['total_sqft'].unique()

array(['351', '527', '670', ..., '666', '2504', '1383'], dtype=object)

In [20]:
def convertRange(x):
    temp=x.split('-')
    if(len(temp)==2):
        return (float(temp[0])+float(temp[1]))//2
    try:
        return float(x)
    except:
        return None

In [21]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [22]:
data.head()

                 location   size  total_sqft  bath  price  bhk
0                ambiwala   1 RK       351.0   1.0  16.00    1
1              Prem nagar   1 RK       527.0   1.0  35.00    1
2             Basavangudi   1 RK       670.0   1.0  50.00    1
3             Bhoganhalli   1 RK       296.0   1.0  22.89    1
4   subash nagarana Halli  2 BHK      1100.0   2.0  70.00    2

In [23]:
data['price_per_sqft']=data['price']*100000/data['total_sqft']

In [24]:
data['price_per_sqft']

0         4558.404558
1         6641.366224
2         7462.686567
3         7733.108108
4         6363.636364
             ...
13315    11428.571429
13316     8480.565371
13317    10263.157895
13318     6250.000000
13319     5375.000000
Name: price_per_sqft, Length: 13320, dtype: float64

In [25]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.623410      2.688814    112.565627      2.802778    7.907513e+03
std     1238.404503      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [26]:
data['location'].value_counts()

location
sahstradhara road    540
Sarjapur  Road       399
Electronic City      302
Kanakpura Road       273
Thanisandra          234
                    ...
K R C kothanur         1
kadubisnahalli         1
Kalasipalya            1
Kalhalli               1
ghantaghar             1
Name: count, Length: 1300, dtype: int64

In [27]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count=data['location'].value_counts()

In [28]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10

location
Sector 1 HSR Layout                10
Sadashiva Nagar                    10
Basapura                           10
Dairy Circle                       10
BTM 1st Stage                      10
                                   ..
Agara Village                       1
Pai layout , Mahadevapura           1
Havanur extension                   1
AECS LAYOUT A-BLOCK Singasandra     1
ghantaghar                          1
Name: count, Length: 1050, dtype: int64

In [29]:
data['location']=data['location'].apply(lambda x:'other' if x in location_count_less_10 else x)

In [30]:
data['location'].value_counts()

location
other                 2859
sahstradhara road      541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Tindlu                  11
Thyagaraja Nagar        11
Kodigehalli             11
Pattandur Agrahara      11
Marsur                  11
Name: count, Length: 240, dtype: int64

In [31]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.623410      2.688814    112.565627      2.802778    7.907513e+03
std     1238.404503      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [32]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.073303
std        388.204821
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [33]:
data=data[((data['total_sqft']/data['bhk'])>=300)]

In [34]:
data.shape

(12530, 7)

In [35]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.992056
std        4162.234280
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [36]:
def remove_outliers_sqft(df):
    df_output=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        gen_df=subdf[(subdf.price_per_sqft > (m-st))&(subdf.price_per_sqft<=(m+st))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data=remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10288.000000  10288.000000  10288.000000  10288.000000    10288.000000
mean    1508.443003      2.474145     91.363843      2.575816     5663.925195
std      880.158983      0.981263     86.434884      0.899265     2268.505586
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1109.000000      2.000000     49.000000      2.000000     4250.000000
50%     1286.000000      2.000000     67.000000      2.000000     5176.536333
75%     1650.000000      3.000000    100.000000      3.000000     6428.675795
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [37]:
def bhk_outlier_remover(df):
    exclude_indices=np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats={}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(excluede_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [38]:
data=bhk_outlier_remover(data)

In [39]:
data.shape

(10288, 7)

In [40]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,2nd Stage Nagarbhavi,4 Bedroom,1500.0,4.0,220.0,4,14666.666667
1,2nd Stage Nagarbhavi,6 Bedroom,3000.0,8.0,451.0,6,15033.333333
2,2nd Stage Nagarbhavi,6 Bedroom,2400.0,8.0,450.0,6,18750.000000
3,2nd Stage Nagarbhavi,4 Bedroom,1350.0,4.0,200.0,4,14814.814815
4,2nd Stage Nagarbhavi,4 Bedroom,1200.0,4.0,225.0,4,18750.000000
...,...,...,...,...,...,...,...
10283,syampur,2 BHK,1050.0,2.0,37.8,2,3600.000000
10284,syampur,2 BHK,935.0,2.0,39.0,2,4171.122995
10285,syampur,2 Bedroom,1200.0,2.0,68.0,2,5666.666667
10286,syampur,1 Bedroom,540.0,1.0,35.0,1,6481.481481
10287,syampur,2 BHK,960.0,2.0,35.0,2,3645.833333

In [41]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [42]:
data.head()

               location  total_sqft  bath  price  bhk
0  2nd Stage Nagarbhavi      1500.0   4.0  220.0    4
1  2nd Stage Nagarbhavi      3000.0   8.0  451.0    6
2  2nd Stage Nagarbhavi      2400.0   8.0  450.0    6
3  2nd Stage Nagarbhavi      1350.0   4.0  200.0    4
4  2nd Stage Nagarbhavi      1200.0   4.0  225.0    4

In [43]:
data.to_csv("Cleaned_data.csv")

In [44]:
X=data.drop(columns=['price'])
y=data['price']

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [47]:
print(X_train.shape)
print(X_test.shape)

(8230, 4)
(2058, 4)

In [48]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['location']),
                                    remainder='passthrough')

In [49]:
scaler=StandardScaler()

In [50]:
lr=LinearRegression()

In [51]:
pipe=make_pipeline(column_trans,scaler,lr)

In [52]:
pipe.fit(X_train,y_train)

/Users/chandresh/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [53]:
y_pred_lr=pipe.predict(X_test)

In [54]:
r2_score(y_test,y_pred_lr)

0.8535597060658289

In [55]:
lasso=Lasso()

In [56]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [57]:
pipe.fit(X_train,y_train)

/Users/chandresh/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [58]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.8474085047698138

In [59]:
ridge=Ridge()

In [60]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [61]:
pipe.fit(X_train,y_train)

/Users/chandresh/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [62]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.8535853546237401

In [63]:
print("No Regularization: ",r2_score(y_test,y_pred_lr))
print("Lasso: ",r2_score(y_test,y_pred_lasso))
print("Ridge: ",r2_score(y_test,y_pred_ridge))

No Regularization:  0.8535597060658289
Lasso:  0.8474085047698138
Ridge:  0.8535853546237401

In [64]:
import pickle

In [65]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))